**/Bin
**/bin
**/Debug
**/obj
**/TestResults

Binaries/**
Releases/**
Backup/**
Temporary/**

*.bak
*.csproj.user
*.csproj.vspscc
*.ldb
*.mcs
*.msi
*.pdb
*.rar
*.SCC
*.suo
*.testsettings
*.tmp
*.vbproj.user
*.vbproj.vspscc
*.vbw
*.vshost.exe
*.vsmdi
*.vspscc
*.vssscc
*.zip